// підключили шрифт==============================================================

// підключили шрифт==============================================================

// зробили змінні для кольорів на сайті=========================================

// зробили змінні для кольорів на сайті=========================================


//зробили сітку для адаптиву (брейкпоінти)=====================================
[class*="__container"]{
    max-width: 1046px;
    margin: 0 auto;
}
@media (max-width: 1075.98px ){
    [class*="__container"] {
        max-width: 970px;
   }
}
@media (max-width: 991.98px){
    [class*="__container"] {
        max-width: 750px;
   }
}
@media (max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
   }
}
//зробили сітку для адаптиву (брейкпоінти)=====================================

// загальні стилі для(основних тегів) body, main wrapper=====================================================
body{
    background: #fafafa;
    line-height: 1;
    font-size: 14px;
    font-family: $font;
    font-weight: 500;
    
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}
// загальні стилі для(основних тегів) body, main і wrapper====================================================

//  технічні стилі====================================================================
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

//  технічні стилі====================================================================